:root {
    --primary-color: #88B04B; /* Sage green */
    --accent-color: #FFA726; /* Soft orange */
    --background-color: #F9F9F9; /* Off-white */
    --text-color: #333333; /* Charcoal gray */
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

.header {
    text-align: center;
    background-color: var(--primary-color);
    padding: 20px;
    color: white;
}

.header-title {
    margin: 0;
    font-size: 2.5rem;
}

.nav {
    text-align: center;
    box-shadow: 0 8px 20px rgba(51, 51, 51, 0.3); /* Charcoal gray shadow */
    padding: 30px 0; /* Increase vertical size */
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.nav a:hover {
    color: white;
    background-color: var(--accent-color);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    padding: 20px;
}

.footer {
    text-align: center;
    padding: 10px 0;
    background-color: var(--primary-color);
    color: white;
}

.welcome-card {
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.welcome-card h2 {
    color: var(--primary-color);
}

.button-group {
    margin-top: 20px;
}

.btn {
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    font-size: 1rem;
}

.btn:hover {
    background-color: var(--accent-color);
}
.login-form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 40%;
}

.logout-form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 40%;
}
.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 100%;
}

.form-container h2 {
    color: var(--primary-color);
}

.link {
    color: var(--accent-color);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}