{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'project/styles.css' %}">
    <title>{% block title %}Plantry{% endblock %}</title>
</head>
<body class="background">
    <header class="header">
        <h1 class="header-title">Plantry</h1>
    </header>
    <nav class="nav" {% if hide_navbar %}style="display: none;"{% endif %}>
        {% if user.is_authenticated %}
        <a href="{% url 'recipe_list' %}">Recipes</a>
        <a href="{% url 'mealplan_list' %}">Meal Plans</a>
        <a href="{% url 'category_list' %}">Categories</a>
        {% if user.user_profile %}
            <a href="{% url 'profile_detail' user.user_profile.pk %}">My Profile</a>
        {% else %}
            <a href="{% url 'profile_create_only' %}">Create Profile</a>
        {% endif %}
        <a href="{% url 'project_logout' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
        <form id="logout-form" action="{% url 'project_logout' %}" method="post" style="display: none;">
            {% csrf_token %}
        </form>
        {% endif %}
    </nav>    
    <main class="content">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer">
        <p>&copy; 2024 Plantry</p>
    </footer>
</body>
</html>