{% extends "project/base.html" %}
{% block title %}My Meal Plans{% endblock %}
{% block content %}
<div class="meal-plans-container">

    {% if meal_plans %}
        {% for plan in meal_plans %}
            <div class="meal-plan-card">
                <h3>{{ plan.meal_type }}</h3>
                <p><strong>Date Added:</strong> {{ plan.date }}</p>
                <a href="{% url 'recipe_detail' plan.recipe.pk %}">
                    <h4>{{ plan.recipe.title }}</h4>
                </a>
                {% if plan.recipe.image %}
                    <img src="{{ plan.recipe.image.url }}" alt="{{ plan.recipe.title }}">
                {% endif %}
                <p><strong>Description:</strong> {{ plan.recipe.description }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>You don't have any meal plans yet.</p>
    {% endif %}
</div>
{% endblock %}