{% extends "project/base.html" %}
{% block title %}My Profile{% endblock %}
{% block content %}
<div class="profile-card">
    <div class="profile-header">
        {% if profile.profile_picture_url %}
        <img src="{{ profile.profile_picture_url }}" alt="Profile Picture">
        {% else %}
        <div class="profile-placeholder">
            <span>No Image</span>
        </div>
        {% endif %}
        <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
    </div>
    <div class="profile-content">
        <p><strong><u>Bio</u></strong></p>
        <p>{{ profile.bio }}</p>
        <a href="{% url 'profile_edit' %}" class="btn">Edit Profile</a>
        <a href="{% url 'my_recipes' %}" class="btn">View My Recipes</a>
    </div>
</div>
{% endblock %}