<!--
    Author: Mussie Abraham
    Username/Email: mussieab@bu.edu
    Description: This is the base template for the Mini Facebook project. It includes the basic structure of the HTML document, 
    including the header, navigation, main content area, and footer. The template uses Django template tags to load static files 
    and define blocks for title and content.
-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mini Facebook{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'mini_fb/styles.css' %}">
</head>
<body>
    <header>
        <h1>Mini Facebook</h1>
        {% if user.is_authenticated %}
        <span> Welcome, {{user.username}}!</span>
        {% endif %}
    </header>

    <nav>
        <a href="{% url 'show_all_profiles' %}">All Profiles</a>
        <a href="{% url 'create_profile' %}">Create New Profile</a>
        {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" style="background:none; border:none; color:blue; cursor:pointer;">Logout</button>
        </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>© 2024 Mini Facebook</p>
    </footer>
</body>
</html>
