<!--
Author: Mussie Abraham
Username/Email: mussieab@bu.edu
Description: This file is a Django template that extends the base template and displays all profiles in a table format.
-->
{% extends 'mini_fb/base.html' %}

{% block content %}
    <table>
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody>
            {% for profile in profiles %}
            <tr>
                <td>{{ profile.first_name }}</td>
                <td>{{ profile.last_name }}</td>
                <td>{{ profile.city }}</td>
                <td><img src="{{ profile.profile_image_url }}" alt="{{ profile.first_name }}" width="100"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
